.eel-icon {
  height: 48px;
  width: auto;
}

.chronos {
  padding-left: 30px !important;
  padding-right: 0px !important;
  /* margin-right: 20px !important; */
}

.info-icon {
  height: 20px;
}

#timer {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #31343A !important;
  color: #FFF !important;
}

.bg-dark, .card, .card-header, .card-body, .card-footer {
  background-color: #272A31 !important;
  border-color: #FFF !important;
}

.card {
  border: 2px solid rgba(234, 234, 234, 0.5) !important;
}

.card-footer {
  padding: 0.25rem !important;
  color: #FFF !important;
}

#start_manual, #start_auto {
  background-color: #2A7B38 !important;
}

#stop_manual, #stop_auto {
  background-color: ##933533 !important;
}

.bg {
  background: rgba(36, 242, 51, 0.0) !important;
  color: #272A31 !important;
}

.deactivated {
  pointer-events: none !important;
  cursor: not-allowed !important;
  opacity: 0.35;
}

/* LED STYLE!important
 SOURCE: https://codepen.io/fskirschbaum/pen/MYJNaj
*/
.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-green-blink {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkGreen 0.5s infinite;
  -moz-animation: blinkGreen 0.5s infinite;
  -ms-animation: blinkGreen 0.5s infinite;
  -o-animation: blinkGreen 0.5s infinite;
  animation: blinkGreen 0.5s infinite;
}

@-webkit-keyframes blinkGreen {
  from {
    background-color: #ABFF00;
  }

  50% {
    background-color: #89FF00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 0;
  }

  to {
    background-color: #ABFF00;
  }
}

@-moz-keyframes blinkGreen {
  from {
    background-color: #ABFF00;
  }

  50% {
    background-color: #89FF00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 0;
  }

  to {
    background-color: #ABFF00;
  }
}

@-ms-keyframes blinkGreen {
  from {
    background-color: #ABFF00;
  }

  50% {
    background-color: #89FF00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 0;
  }

  to {
    background-color: #ABFF00;
  }
}

@-o-keyframes blinkGreen {
  from {
    background-color: #ABFF00;
  }

  50% {
    background-color: #89FF00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 0;
  }

  to {
    background-color: #ABFF00;
  }
}

@keyframes blinkGreen {
  from {
    background-color: #ABFF00;
  }

  50% {
    background-color: #89FF00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 0;
  }

  to {
    background-color: #ABFF00;
  }
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
  from {
    background-color: #F00;
  }

  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }

  to {
    background-color: #F00;
  }
}

@-moz-keyframes blinkRed {
  from {
    background-color: #F00;
  }

  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }

  to {
    background-color: #F00;
  }
}

@-ms-keyframes blinkRed {
  from {
    background-color: #F00;
  }

  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }

  to {
    background-color: #F00;
  }
}

@-o-keyframes blinkRed {
  from {
    background-color: #F00;
  }

  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }

  to {
    background-color: #F00;
  }
}

@keyframes blinkRed {
  from {
    background-color: #F00;
  }

  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }

  to {
    background-color: #F00;
  }
}

.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@-moz-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@-ms-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@-o-keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

@keyframes blinkYellow {
  from {
    background-color: #FF0;
  }

  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
  }

  to {
    background-color: #FF0;
  }
}

/* ORANGE LED */
.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #0750fd;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #0750fd 0 -1px 9px, #0750fd 0 2px 12px;
  -webkit-animation: blinkBlue 1s infinite;
  -moz-animation: blinkBlue 1s infinite;
  -ms-animation: blinkBlue 1s infinite;
  -o-animation: blinkBlue 1s infinite;
  animation: blinkBlue 1s infinite;
}

@-webkit-keyframes blinkBlue {
  from {
    background-color: #0750fd;
  }

  50% {
    background-color: #0058aa;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #0750fd 0 -1px 9px, #0750fd 0 2px 0;
  }

  to {
    background-color: #0750fd;
  }
}

@-moz-keyframes blinkBlue {
  from {
    background-color: #0750fd;
  }

  50% {
    background-color: rgb(0, 94, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #0750fd 0 -1px 9px, #0750fd 0 2px 0;
  }

  to {
    background-color: #0750fd;
  }
}

@-ms-keyframes blinkBlue {
  from {
    background-color: #0750fd;
  }

  50% {
    background-color: rgb(0, 94, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #0750fd 0 -1px 9px, #0750fd 0 2px 0;
  }

  to {
    background-color: #0750fd;
  }
}

@-o-keyframes blinkBlue {
  from {
    background-color: #0750fd;
  }

  50% {
    background-color: rgb(0, 94, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #0750fd 0 -1px 9px, #0750fd 0 2px 0;
  }

  to {
    background-color: #0750fd;
  }
}

@keyframes blinkBlue {
  from {
    background-color: #0750fd;
  }

  50% {
    background-color: rgb(0, 94, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #0750fd 0 -1px 9px, #0750fd 0 2px 0;
  }

  to {
    background-color: #0750fd;
  }
}

.led-off {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: rgba(#000000, 0.3);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #000 0 -1px 9px, #0000 0 2px 12px;
}