<div class="row ml-auto">
  <div id="led" class="col-md-6 mb-3">
    <div class="row mr-auto">
      <div class="card mr-1">
        <div class="card-header text-center small">
          flush
        </div>
        <div class="card-body">
          <div id="led-flush" class="led-off" title="Bomba en funcionament"></div>
        </div>
      </div>
      <div class="card mr-1">
        <div class="card-header text-center small">
          wait
        </div>
        <div class="card-body">
          <div id="led-wait" class="led-off" title="Bomba en wait"></div>
        </div>
      </div>
      <div class="card mr-1">
        <div class="card-header text-center small">
          close
        </div>
        <div class="card-body">
          <div id="led-close" class="led-off" title="Bomba en close"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 ml-auto">
    <div class="row chronos">
      <div class="card mr-1 p-0">
        <div class="card-header text-center small" id="chronos">
          temps
        </div>
        <div class="card-body">
          <div class="col-md small" id="timer">00:00:00</div>
        </div>
      </div>
      <div class="card mr-1">
        <div class="card-header text-center small">
          hora d'inici
        </div>
        <div class="card-body">
          <div class="col-md small" id="auto_run_since"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-header text-center small">
          loop
        </div>
        <div class="card-body">
          <div class="col-md small" id="total_loops"></div>
        </div>
      </div>
    </div>
  </div>
</div>
