<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css.map') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



</head>

<body>

  {% block body %}

  {% endblock %}

  {% block footer %}
  <footer class="footer fixed-bottom mt-auto py-3">
    <!-- <div class="container"> -->
    <span class="text-muted ml-2">version <i class="fas fa-heart"></i> <b>Testing</b></span>
    <!-- </div> -->
  </footer>
  {% endblock %}


  <!-- JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/jquery.min.js.map') }}"></script> -->
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js.map') }}"></script> -->
  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
  <script type="text/javascript">
    function ledsOFF() {
      // $("#available").addClass("led-off")
      $("#led-flush").addClass("led-off")
      $("#led-wait").addClass("led-off")
      $("#led-close").addClass("led-off")
      // $("#available").removeClass("led-green")
      // $("#led-flush").removeClass("led-blue")
      $("#led-flush").removeClass("led-green-blink")
      $("#led-wait").removeClass("led-yellow")
      $("#led-close").removeClass("led-red")
    };

    function ledGreen() {
      ledsOFF();
      $("#led-flush").removeClass("led-off")
      // $("#led-flush").addClass("led-blue")
      $("#led-flush").addClass("led-green-blink")
    };

    function ledYellow() {
      ledsOFF();
      $("#led-wait").removeClass("led-off")
      $("#led-wait").addClass("led-yellow")
    };

    function ledRed() {
      ledsOFF();
      $("#led-close").removeClass("led-off")
      $("#led-close").addClass("led-red")
    };

    function blockStart() {
      $("#start_auto, #start_manual").addClass("deactivated")
    }

    function runningAuto() {
      $("#chronos").text("temps restant");
      blockStart();
      $("#stop_manual").addClass("deactivated")
    }

    function runningManual() {
      $("#chronos").text("temps acumulat");
      blockStart();
      ledGreen();
      $("#stop_auto").addClass("deactivated")
      $("#stop_manual").removeClass("deactivated")
    }

    function stopManual() {
      $("#stop_manual").addClass("deactivated")
      $("#start_manual, #start_auto").removeClass("deactivated")
    }

    $("#start_auto").click(function() {
      runningAuto();
    })

    $(document).ready(function() {
      $.get("/status", function(system_info, status) {
        if (system_info.running && system_info.run_auto) { // Means that is running and in auto mode
          ledGreen();
          runningAuto();
          countDown(system_info.cycle_ends_in);
          blockStart();
        } else if (system_info.run_auto && !system_info.running) { // Pump in stand by; auto mode True
          if (system_info.cycle_fase === "wait") {
            ledYellow();
            countDown(system_info.cycle_ends_in)
          } else {
            ledRed();
            countDown(system_info.cycle_ends_in)
          }
          runningAuto();
          blockStart();
        } else if (system_info.running && system_info.run_manual) { // Means is running on manual mode
          ledGreen();
          blockStart();
          stopWatch(system_info.started_at);
          runningManual();
        } else { // Means that is not running
          $("#stop_auto, #stop_manual").addClass("deactivated")
        }
        $("#led").removeClass("d-none")
        $("#auto_run_since").text(system_info.auto_run_since);
        $("#total_loops").text(system_info.total_loops);
      });

      // SOCKER IO

      namespace = '/resPi';
      // Connect to the Socket.IO server.
      // The connection URL has the following format, relative to the current page:
      //     http[s]://<domain>:<port>[/<namespace>]
      var socket = io(namespace);

      socket.on('automatic_program', function(system_info, cb) {
        console.log("ENDS " + system_info.cycle_ends_in);
        if (system_info.running && system_info.run_auto) {
          ledGreen();
          countDown(system_info.cycle_ends_in);
          $("#auto_run_since").text(system_info.auto_run_since);
          $("#total_loops").text(system_info.total_loops);
        } else if (system_info.run_auto && !system_info.running) {
          if (system_info.cycle_fase === "wait") {
            ledYellow();
            countDown(system_info.cycle_ends_in)
          } else {
            ledRed();
            countDown(system_info.cycle_ends_in)
          }
        } else {
          // ledGreen();
        }
        if (cb)
          cb();
      });


      socket.on('processing_files', function(data, cb) {
        // if (data.generating_files) {
        $("#files-progress").text(data.msg)
        // }
        if (cb)
          cb();
      });

      // UPDATE IF THERE IS ANY DOCUMENT BEEN PROCCESSED
    }); // end of document ready
    $(function() {
      $('[data-toggle="popover"]').popover()
    })
  </script>
  {% block scripts %}{% endblock %}

</body>

</html>