<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css.map') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



</head>

<body>
  <!-- Spinner  -->
  <div id="spinner-front" class="d-none">
    <img src="static/js/ajax-loader.gif" /><br>
    Processing...
  </div>
  <div id="spinner-back" class="d-none"></div>
  {% block body %}

  {% endblock %}

  {% block footer %}
  <footer class="footer fixed-bottom mt-auto py-3">
    <!-- <div class="container"> -->
    <span class="text-muted ml-2">version: Testing</span>
    <!-- </div> -->
  </footer>
  {% endblock %}


  <!-- JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js.map') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js.map') }}"></script> -->
  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
  <script type="text/javascript">
    function ledGreen() {
      $("#available").removeClass("d-none")
      $("#busy").addClass("d-none")
      $("#stand_by").addClass("d-none")
    };

    function ledRed() {
      $("#busy").removeClass("d-none")
      $("#available").addClass("d-none")
      $("#stand_by").addClass("d-none")
    };

    function ledYellow() {
      $("#stand_by").removeClass("d-none")
      $("#busy").addClass("d-none")
      $("#available").addClass("d-none")
    };

    function blockStart() {
      $("#start_auto, #start_manual").addClass("deactivated")
    }

    function runningAuto() {
      blockStart()
      $("#stop_manual").addClass("deactivated")
    }

    function runningManual() {
      blockStart()
      $("#stop_auto").addClass("deactivated")
      $("#stop_manual").removeClass("deactivated")
    }

    function stopManual() {
      $("#stop_manual").addClass("deactivated")
      $("#start_manual, #start_auto").removeClass("deactivated")
    }

    $("#start_auto").click(function() {
      runningAuto();
    })

    $(document).ready(function() {
      $.get("/status", function(system_info, status) {
        console.log(system_info);
        if (system_info.running && system_info.run_auto) { // Means that is running and in auto mode
          ledRed();
          runningAuto();
          countDown(system_info.cycle_ends_in);
          blockStart();
        } else if (system_info.run_auto && !system_info.running) { // Pump in stand by; auto mode True
          ledYellow();
          runningAuto();
          countDown(system_info.next_cycle_at)
          blockStart();
        } else if (system_info.running && system_info.run_manual) { // Means is running on manual mode
          ledRed();
          blockStart();
          stopWatch(system_info.started_at);
          runningManual();
        } else { // Means that is not running
          ledGreen();
          $("#stop_auto, #stop_manual").addClass("deactivated")
        }
        $("#led").removeClass("d-none")
        $("#auto_run_since").text("Started at': " + system_info.auto_run_since);
        $("#total_loops").text("Total de 'loops': " + system_info.total_loops);

        if (system_info.generating_files) {
          $("#submit_files").addClass("deactivated")
        } else {
          $("#submit_files").removeClass("deactivated")
        }
      });

      // SOCKER IO

      namespace = '/resPi';
      // Connect to the Socket.IO server.
      // The connection URL has the following format, relative to the current page:
      //     http[s]://<domain>:<port>[/<namespace>]
      var socket = io(namespace);

      socket.on('automatic_program', function(system_info, cb) {
        console.log("ENDS " + system_info.cycle_ends_in);
        if (system_info.running && system_info.run_auto) {
          ledRed();
          countDown(system_info.cycle_ends_in);
          $("#auto_run_since").text("Started at': " + system_info.auto_run_since);
          $("#total_loops").text("Total de 'loops': " + system_info.total_loops);
        } else if (system_info.run_auto && !system_info.running) {
          ledYellow();
          countDown(system_info.next_cycle_at);
          // stopWatch(system_info.cycle_ends_in);
        } else {
          ledGreen();
        }
        if (cb)
          cb();
      });
      socket.on('processing_files', function(data, cb) {
        // if (data.generating_files) {
        $("#files-progress").text(data.msg)
        // }
        if (cb)
          cb();
      });

      // UPDATE IF THERE IS ANY DOCUMENT BEEN PROCCESSED
    }); // end of document ready
    $(function() {
      $('[data-toggle="popover"]').popover()
    })

    function saySomething() {
      console.log("You called!!!");
    }

    $("#generatePlotComplet").on("click", function() {
      if ($("#generatePlotComplet").prop("checked")) {
        $("#generatePlots").prop("checked", false);
        $("#submit_files").text("Vista prèvia del gràfic global")
        $("#submit_files").addClass("btn-success")
      } else {
        $("#submit_files").text("Processar dades");
        $("#submit_files").removeClass("btn-success")
      }
    })
    $("#generatePlots").on("click", function() {
      if ($("#generatePlots").prop("checked")) {
        $("#generatePlotComplet").prop("checked", false);
        $("#submit_files").text("Processar dades")
        $("#submit_files").removeClass("btn-success")
      }
    })

    function test() {
      console.log("PRESS MARKER");
    }

    // SPINNER
    $("#submit_files").on("click", function() {
      document.getElementById("spinner-front").classList.add("d-none");
      document.getElementById("spinner-back").classList.add("d-none");
    });
  </script>
  {% block scripts %}{% endblock %}

</body>

</html>