<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">


  <title>resPi | converter</title>

</head>

<body>
  <!-- Spinner  -->
  <div id="spinner-front" class="d-none">
    <img src="static/js/ajax-loader_cubes.gif" /><br>
    Generant vista prèvia
  </div>
  <div id="spinner-back" class="d-none"></div>
  {% block body %}

  {% endblock %}

  {% block footer %}
  <!-- <footer class="footer fixed-bottom mt-auto py-3">
<span class="text-muted ml-2">version: Testing</span>
</footer> -->
  {% endblock %}


  <!-- JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $.get("/status", function(system_info, status) {
        console.log(system_info);
        if (system_info.generating_files) {
          $("#submit_files").addClass("deactivated")
        } else {
          $("#submit_files").removeClass("deactivated")
        }
      });

    }); // end of document ready
  </script>
  {% block scripts %}{% endblock %}

</body>

</html>