{% extends "base.html" %}
{% include "navbar.html" %}

{% block body %}

<div class="container">
  <div class="col-md-12 mt-3">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-10"> Enter the information about your experiment times </div>
          <div class="col-md"><a href="{{ url_for('downloads') }}" class="badge badge-warning">Downloads</a></div>
        </div>
      </div>
      <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
          <!-- <form onsubmit="return confirm('estàs segur?')" action="" method="POST" enctype="multipart/form-data"> -->
          <div class="form-row">
            <div class="form-group col-md">
              <label for="control_file_1">Control 1</label>
              <input type="file" accept=".txt" class="form-control" name="control_file_1" id="control_file_1" required>
            </div>
            <div class="form-group col-md">
              <label for="data_file">Experiment Data</label>
              <input type="file" accept=".txt" class="form-control" name="data_file" id="data_file" required>
            </div>
            <div class="form-group col-md">
              <label for="control_file_2">Control 2</label>
              <input type="file" accept=".txt" class="form-control" name="control_file_2" id="control_file_2" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputAddress">'Flush' time</label>
              <input type="number" value="{{ config.flush }}" name="flush" class="form-control" id="inputAddress" placeholder="Flush time in minutes" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress">'Wait' time</label>
              <input type="number" value="{{ config.wait }}" name="wait" class="form-control" id="inputAddress" placeholder="Wait time in minutes" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress">'Close' time</label>
              <input type="number" value="{{ config.close }}" name="close" class="form-control" id="inputAddress" placeholder="Close time in minutes" required>
            </div>
          </div>
          <div class="row">
            <button onclick="myFunction()" type="submit" id="submit_files" class="btn btn-primary mr-3">Process, please</button>
            <div class="form-check">
              <input class="form-check-input" name="plot" type="checkbox" value="yes" id="generatePlots" checked>
              <label class="form-check-label" for="generatePlots">
                Generar gràfics
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  // function myFunction() {
  //   confirm("Press a button!");
  // }
</script>
{% endblock %}