{% extends "base.html" %}
{% include "navbar.html" %}
{% block body %}
<div class="" id="myDiv">

  {% for plot in plots %}
  {% include plot.path %}
  <div class="m-1">

    <a class="ml-3" type="button"><i data-toggle="popover" data-content='[{{ plot.name }}] Inseriu el número del “loop” que voleu ignorar. Separeu-lo amb una “,”. Ex:1,5,7,10' data-placement="top" class="fas fa-info-circle"></i>
      <input placeholder="Seleccionar loops" oninput="ignoreInputIN(this.name)" id="{{ plot.name }}" type="text" name="{{ plot.name }}">
      <button onclick="addIgnoreLoop(this.name, this.id)" id="{{ plot.name }}ID" name="{{ plot.name }}" class="d-none btn btn-danger mr-3"> Ignorar <i class="fas fa-backspace"></i></button>
  </div>

  {% endfor %}

</div>
<button type="button" onclick="topFunction()" id="myBtn" name="button"><i class="fas fa-chevron-up"></i></button>
{% endblock %}
{% block footer %}
<!-- <div class="container">
  <div class="row">

  </div>
</div>
-->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function addIgnoreLoop(file_name, id) {
    var name = file_name;
    var data = name + ":" + document.getElementById(file_name).value
    $.post("/ignore_loops/" + data);
    addIgnoreLoopBTN(file_name);


  }

  // IGNORE INPUT CHANGES
  var old_value = "";
  var new_value = "";
  console.log("STARTING " + old_value + " " + new_value);

  function ignoreInputIN(name) {
    var btnID = "#" + name + "ID";
    var input = document.getElementById(name).value;
    new_value = input
    $(btnID).removeClass("d-none");
    // $(btnID).addClass("btn-danger");
    if ($(btnID).hasClass("btn-success")) {
      console.log("HEREEEE");
      $(btnID).text("Actualitza")
      $(btnID).removeClass("btn-success");
      $(btnID).addClass("btn-warning");
    }

  };

  function addIgnoreLoopBTN(name) {
    var btnID = "#" + name + "ID";
    if (new_value !== old_value) {
      $(btnID).text("Actualitzat")
      $(btnID).removeClass("btn-danger");
      $(btnID).removeClass("btn-warning");
      $(btnID).addClass("btn-success")
    };
    old_value = new_value;
  }

  //Get the button:
  mybutton = document.getElementById("myBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>{% endblock %}