{% extends "base.html" %}
{% include "navbar.html" %}
{% block body %}
<div class="" id="myDiv">
  {% for plot in plots %}
  {% include plot.path %}
  <!-- <form action="/ignore_loops" method="POST" enctype="multipart/form-data"> -->
  <a class="ml-3" type="button"><i data-toggle="popover" data-content='Inseriu el número del bucle que voleu ignorar. Separeu-los amb " ,". ex: 1,5,7,10' data-placement="top" class="fas fa-info-circle"></i>
    <input placeholder="Loops per eliminar" id="{{ plot.name }}" type="text" name="{{ plot.name }}">
    <button onclick="addIgnoreLoop(this.name)" name="{{ plot.name }}" class="btn btn-primary mr-3">Ignorar</button>
    <!-- </form> -->
    {% endfor %}

</div>
{% endblock %}
{% block footer %}
<div class="container">
  <div class="row">

  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  function addIgnoreLoop(file_name) {
    var name = file_name;
    var data = name + ":" + document.getElementById(file_name).value
    console.log({
      data
    });
    $.post("/ignore_loops/" + data);

  }
</script>{% endblock %}