{% extends "base.html" %}

{% block body %}

{% include "messages.html" %}
<div class>
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-center">
          Iniciar Sessió
        </div>
        <div class="card-body">
          <form action="" method="POST">
            <div class="form-row mb-3">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="usuari" required>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" placeholder="contrasenya" required>
              </div>
            </div>
            <div class="mt-3 row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <button type="submit" id="entrar" name="action" class="btn btn-success btn-sm btn-block" value="start">Entrar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}