<nav class="navbar navbar-collapse navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('respi') }}">ResPI</a>
  <div class="text-left" id="files-progress"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Ajuda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('excel_files') }}">Arxius Excel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('settings') }}">Configuració</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sistema
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('logs') }}">Logs</a>
          <a class="dropdown-item" href="{{ url_for('logout') }}">Sortir</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('restart') }}">Reiniciar</a>
          <a class="dropdown-item" href="{{ url_for('turn_off') }}">Tancar</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% include "messages.html" %}